<div class="slideshow">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render "templates/sidebar" %>
      </div>

      <div class="col-md-6">
        <%= render "templates/slider" %>
      </div>

      <div class="col-md-3">
        <%= render "templates/promotion" %>
      </div>
    </div>
  </div>
</div>

<%= render "templates/main" %>
