<footer class="footer">
  <div class="col-md-12 footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hrv_sp">
          <div class="hrv-icon">
            <img src="images/icon/support_img_1.png" alt="" 
              class="img-responsive">
          </div>
          <div class="hrv-text">
            <h4>24/7</h4>
            <p>Hỗ trợ miễn phí</p>
          </div>
        </div>

        <div class="col-md-4 hrv_sp middle">
          <div class="hrv-icon">
            <img src="images/icon/support_img_2.png" alt=""
              class="img-responsive">
          </div>
          <div class="hrv-text">
            <h4>100% hoàn tiền</h4>
            <p>Bảo hành</p>
          </div>
        </div>

        <div class="col-md-4 hrv_sp">
          <div class="hrv-icon">
            <img src="images/icon/support_img_3.png" alt=""
              class="img-responsive">
          </div>
          <div class="hrv-text">
            <h4>Miễn phí Shipping</h4>
            <p>Trên 5 đơn hàng</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /footer-top -->
  
    <!-- footer-content -->
  <div class="col-md-12 footer-content">
    <div class="container">
      <div class="col-md-3">
        <h3 class="heading-title">Về chúng tôi</h3>
        <ul>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Giao hàng - Đổi trả</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="heading-title">Trợ giúp</h3>
        <ul>
          <li><a href="#">Hướng dẫn mua hàng</a></li>
          <li><a href="#">Hướng dẫn thanh toán</a></li>
          <li><a href="#">Tài khoản giao dịch</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="heading-title">Kết nối với chúng tôi</h3>
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
              <span>Google Plus</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-flickr"></i>
              <span>Flickr</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h3 class="heading-title">HÃY ĐẾN VỚI CHÚNG TÔI</h3>
      </div>
    </div>
  </div><!-- /footer-content -->

  <div class="col-md-12 footer-bottom">
    <div class="container">
      <div class="col-md-6">
        <p><a href="#">Copyright © 2016 Big Market. Powered by RUNTIME.VN
          </a></p>
      </div>

      <div class="col-md-6">
        <p class="pull-right">
          <img src="images/icon/payment-logo.png" alt="">
        </p>
      </div>
    </div>
  </div>
</footer>
