<section class="col-md-12" id="main">
  <div class="container">
    <div class="row box-section-collection">
      <div class="col-md-3 column-banners">
        <div class="owl-item">
          <img src="images/tab/tabs_1_slider_img_1.jpg" alt="" 
            class="img-responsive attachment-full size-full">
        </div>
      </div>

      <div class="col-md-9 column-products">
        <div class="col-md-3 col-xs-6 product-item">
          <div class="product-image">
            <a href="product-detail.html">
              <img src="images/product/ao-belike1_master.jpg" 
                alt="" class="img-responsive" width="100%">
            </a>
            <div class="product-label">
              <span class="onsale">-52%</span>
            </div>
          </div>
          <div class="product-info">
            <a href="product-detail.html">
              <span class="product-name">Áo thun nữ Belike</span>
            </a>
            <div class="product-price">
              <ins>95.200<span class="unit">đ</span></ins>
              <del>200.000<span class="unit">đ</span></del>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

