<div class="promotion">
  <div class="box-title">
    <p align="center">Sản phẩm khuyến mại</p>
  </div>

  <div class="list-item">
    <div class="col-md-12 col-xs-6 box-item">
      <div class="row">
        <div class="col-md-5 product-image">
          <a href="product-detail.html">
            <img src="images/product/ao-belike1_master.jpg" 
              alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-md-7 product-info">
          <a href="product-detail.html">
            <span class="product-name">Áo thun nữ Belike</span>
          </a>
          <div class="product-price">
            <del>200.000<span class="unit">đ</span></del>
            <ins>95.200<span class="unit">đ</span></ins>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
