<div class="sidebar-wrapper list-group">
  <div class="sidebar-title list-group-item">
    <span class="menu-icon">
      <i class="glyphicon glyphicon-align-justify"></i>
    </span>
    <span class="menu-label title">
      Danh mục
    </span>
  </div>

  <div class="parent-category list-group-item">
    <a href="#">
      <span class="menu-label">
        Thời trang
      </span>
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>

  <div class="parent-category list-group-item">
    <a href="#">
      <span class="menu-label">
        Thực phẩm
      </span>
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>

  <div class="parent-category list-group-item">
    <a href="#">
      <span class="menu-label">
        Điện tử
      </span>
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>

  <div class="parent-category list-group-item">
    <a href="#">
      <span class="menu-label">
        Nội thất
      </span>
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>

  <div class="parent-category list-group-item">
    <a href="#">
      <span class="menu-label">
        Nữ trang
      </span>
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>

  <div class="parent-category list-group-item">
    <a href="#">
      <span class="menu-label">
        Mỹ phẩm
      </span>
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>

  <div class="parent-category list-group-item">
    <a href="#">
      <span class="menu-label">
        Quà tặng
      </span>
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>
</div>
